{# parameters #}
{%- set form_attr = form_attr|default({})|merge({'id': 'edit-form', 'data-save': 'common.save_data'|trans, 'class': 'position-relative', 'novalidate': 'novalidate'}) -%}

{%- block modal -%}
    <form action="{% block form_action'#' %}" {% for attrname, attrvalue in form_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %} method="POST">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">{% block titre '' %}</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% block body %}{% endblock %}
                </div>
                <div class="modal-footer d-print-none justify-content-between align-items-center">
                    {% block footer %}{% endblock %}
                </div>
            </div>
        </div>
    </form>
{%- endblock -%}
