{% extends '@TalavWeb/layouts/modal-form.html.twig' %}

{% block modal_id 'login-dialog' %}

{% block titre 'Sign In' %}
{% block form_id 'edit-form' %}

{% block body -%}
    {% include '@TalavUser/security/login-content.html.twig' with({'partial': true}) %}
    <p class="mt-4 mb-0">
        Not signed up yet ?
        <a href="{{ path('talav_user_register') }}" class="align-self-center register">{{ 'registration.link'|trans }}</a>
    </p>
{%- endblock %}

{% block footer -%}
    <button class="btn btn-primary" type="submit" id="_submit" name="_submit" data-loading-text="Please wait...">
        Sign In
    </button>

    <script>
        document.querySelectorAll('.auto-connect').forEach((element) => {
            element.addEventListener('click', (event) => {
                const target = event.currentTarget

                document.querySelector('#talav_type_user_user_login_username').value = target.dataset.username
                document.querySelector('#talav_type_user_user_login_password').value = target.dataset.password
            })
        })
    </script>
{%- endblock %}

{% block form_action path('talav_user_login') %}
