<h4 class="heading">
    {{ comments.nbResults }} Comment{{ comments.nbResults > 1 ? 's' }}
    {% if comments.nbResults == 0 %}
        |
        <small>Be the first to react</small>
    {% endif %}
</h4>
