<div class="comments-container">
    <h4 class="heading mb-3">
        {% if comments.nbResults == 0 %}
            <small class="text-muted d-block">No comments</small>
        {% else %}
            {{ comments.nbResults }} Comment{{ comments.nbResults > 1 ? 's' }}
        {% endif %}
    </h4>
    {% include '@TalavComment/comment/form.html.twig' %}

    {% if comments.nbResults > 0 %}
        {% include '@TalavComment/comment/list.html.twig' %}
    {% endif %}
</div>
