{% extends '@TalavUser/frontend/profile/base.html.twig' %}

{% block talav_profile_content %}
    <div class="u-mb-16">
        {% block profile_header %}
        {% endblock profile_header %}
    </div>
    <div class="u-mb-16">
        {% block page_content%}
        {% endblock page_content %}
    </div>
{% endblock talav_profile_content %}
