{% extends "@TalavUser/layout.html.twig" %}

{% trans_default_domain 'TalavUserBundle' %}

{% block titre 'Check Your E-mail!' %}

{% block talav_user_content %}
    <p>{{ 'talav.registration.check_email'|trans({'%email%': user.email}) }}</p>
{% endblock talav_user_content %}
