<div class="card">
    <div class="card-header">
        <h5 class="card-title h6 mb-0">Menu</h5>
    </div>
    <ul class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
            <span><i class="fas fa-pager fa-fw me-2"></i></span>
            Feed
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
            <span><i class="fas fa-comment fa-fw me-2"></i></span>
            Messages<span class="badge rounded-pill bg-primary text-light ms-auto">1</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action d-flex align-items-center">
            <span><i class="fas fa-bell fa-fw me-2"></i></span>
            Notifications<span class="badge rounded-pill bg-primary text-light ms-auto">3</span>
        </a>
    </ul>
</div>
