<div id="zkJsConfig" data-parameters='{{ config|json_encode|raw }}'></div>

<script type="text/javascript">
    {{ js|raw }}
    // var oCore = {
    //     'core.is_admincp': false,
    //     'core.section_module': 'user',
    //     'profile.is_user_profile': false,
    //     'log.security_token': '6d7a549fcecafd6f56fa11d57b2b22a5',
    //     'core.url_rewrite': '1',
    //     'core.country_iso': '',
    //     'core.default_currency': 'USD',
    //     'profile.user_id': 0
    // };
    //
    // var oParams = {
    //     'sBaseURL': 'https://v4.phpfox.com/',
    //     'sJsHome': 'https://v4.phpfox.com/PF.Base/',
    //     'sJsHostname': 'v4.phpfox.com',
    //     'sSiteName': 'Phpfox V4 Demo',
    //     'sJsStatic': 'https://v4.phpfox.com/PF.Base/static/',
    //     'sJsStaticImage': 'https://v4.phpfox.com/PF.Base/static/image',
    //     'sImagePath': 'https://v4.phpfox.com/PF.Base/theme/frontend/bootstrap/style/bootstrap/image/',
    //     'sStylePath': 'https://v4.phpfox.com/PF.Base/theme/frontend/bootstrap/style/bootstrap/css/',
    //     'sVersion': '4.8.12',
    //     'sJsAjax': 'https://v4.phpfox.com/_ajax/',
    //     'sStaticVersion': '961ef7c5e07431509209a67578be3eb6',
    //     'sGetMethod': 'do',
    //     'sDateFormat': 'MDY',
    //     'sGlobalTokenName': 'core',
    //     'sController': 'user.login',
    //     'bJsIsMobile': false,
    //     'sHostedVersionId': '',
    //     'sStoreUrl': 'https://store.phpfox.com/',
    //     'iLimitLoadMore': 2,
    //     'sJsDefaultThumbnail': 'https://v4.phpfox.com/PF.Base/static/image/misc/thumbnail.png',
    //     'sAssetBaseUrl': 'https://v4.phpfox.com/',
    //     'sAssetFileUrl': 'https://v4.phpfox.com/PF.Base/',
    //     'sJsCookiePath': '/',
    //     'sJsCookieDomain': '',
    //     'sJsCookiePrefix': 'cored880',
    //     'bPhotoTheaterMode': false,
    //     'bUseHTML5Video': false,
    //     'bIsAdminCP': false,
    //     'bIsUserLogin': false,
    //     'sGoogleApiKey': 'AIzaSyCROUlIHqLjFMUEZ24-7QN5tuxkFDvhi3c',
    //     'sGoogleOAuthId': '109028067597-7ljtmh9ljk6dadg3o94uv9s5t38507c3.apps.googleusercontent.com',
    //     'iMapDefaultZoom': '',
    //     'sLanguage': 'en',
    //     'sAdminCPLocation': '',
    //     'notification.notify_ajax_refresh': 2,
    //     'bOffFullAjaxMode': false,
    //     'sFriendshipDirection': 'two_way_friendships',
    //     'allowCustomGender': true,
    //     'enableUserTooltip': true,
    //     'sEditor': 'CKEditor',
    //     'shoutbox_polling': 'https://v4.phpfox.com/shoutbox/polling/',
    //     'shoutbox_user_profile_link': 'https://v4.phpfox.com/',
    //     'shoutbox_user_full_name': false,
    //     'shoutbox_sleeping_time': 7000
    };
</script>
